.cell {
  width: 40px;
  height: 40px;
  transition: background 0.1s, transform 0.1s;
}

.player {
  background-color: blue;
  transition: transform 0.1s;
}

.exit {
  background-color: green;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% { background-color: green; }
  25%, 75% { background-color: lime; }
}
